<h1>List of users</h1>

<form action="/add_user">
  <label for="user_id">Username</label>
  <input id="user_id" name="new_username" placeholder="Enter a username...">
  <button>Add user</button>
</form>

<p>
  <table border="2">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th></th>
    </tr>

    <% @user_ordered.each do |each_user| %>

    <tr>
      <td><%= each_user.id %></td>
      <td><%= each_user.username %></td>
      <td><a href="/users/<%= each_user.username %>">Show details</a></td>
    </tr>

    <% end %>

  </table>
</p>
